body, html {

}

#root {
    height: 100%;
    margin:0;
    padding:0;
    display: flex;
}

.app-wrapper {
    display: flex!important;
    flex-direction: column!important;
    height: 100%!important;
    width: 100%!important;
}

.header-container {
    margin-bottom: auto;
}

.footer-container {
    margin-top: auto;
}

.content-container {
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    /* max-width: 1200px; */
    padding: 16px 32px;
    margin: 0;
    display: block;
    min-height: 100vh;
}

.content-block {
    padding: 0;
    border: none;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.pagination-container {
    margin: 1em 0;
    text-align: center;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.se-table {
    table-layout: auto !important;
    /* font-size: 1rem !important; */
}

.se-table td {
    white-space: normal !important;
}

.strong {
    font-weight: bold;
}

.border-bottom thead>tr>th {
    border-bottom: 1px solid #88c5ea;
}

button .se-icon {
    font-weight: normal !important;
}